<h2>Buy Songs:</h2>

<form id="form">
    <div class="form-group">
        <label for="exampleFormControlInput1">Song Name</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Song" />
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Artist/Singer Name</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Singer/Artist" />
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Type of Music</label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option>Hip Hop</option>
            <option>Rock</option>
            <option>Country</option>
            <option>Classical</option>
            <option>Metal</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect2">Quantity</label>
        <select multiple class="form-control" id="exampleFormControlSelect2">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button class="btn" type="submit" class="btn btn-primary">Submit</button>
</form>