<h2>Favorties:</h2>

<div id="songs">
    <img src="img.png" alt="..." class="img-thumbnail" />
    <img src="img.png" alt="..." class="img-thumbnail" />
    <img src="img.png" alt="..." class="img-thumbnail" />
    <br />
    <br />
    <img src="img.png" alt="..." class="img-thumbnail" />
    <img src="img.png" alt="..." class="img-thumbnail" />
</div>