<h1>All Songs</h1>

<div id="songs">
  <img src="img.png" alt="..." class="img-thumbnail" />
  <img src="img.png" alt="..." class="img-thumbnail" />
  <img src="img.png" alt="..." class="img-thumbnail" />
  <br />
  <br />
  <img src="img.png" alt="..." class="img-thumbnail" />
  <img src="img.png" alt="..." class="img-thumbnail" />
  <img src="img.png" alt="..." class="img-thumbnail" />
  <br />
  <br />
  <img src="/views/img.png" alt="..." class="img-thumbnail" />
  <img src="views/img.png" alt="..." class="img-thumbnail" />
  <img src="img.png" alt="..." class="img-thumbnail" />
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>