<section class="container content-section">
    <h2 class="section-header" id="cart-section">Shopping Cart</h2>
    <div class="cart-row">
        <span class="cart-item cart-header cart-column">SONG & ARTIST</span>
        <span class="cart-quantity cart-header cart-column">ARTIST</span>
        <span class="cart-price cart-header cart-column">PRICE</span>
    </div>
    <div class="cart-total">
        <strong class="cart-total-title">Total</strong>
        <span class="cart-total-price">$0.00</span>
    </div>
    <div class="btn-container">
        <a href="contact">
            <button class="btn-purchase" type="button">Proceed To Checkout</button>
        </a>
    </div>
</section>