<div class="track-block">
  <div class="track-block-header">
    <p class="track-block-title">{{ title }}</p>
    <div style="display: flex">
      <p class="track-block-price">${{ price }}</p>
      <button>
        <i class="buyMe fa fa-shopping-cart" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <iframe
    class="songbox"
    id="{{ id }}"
    width="100%"
    height="150"
    scrolling="no"
    frameborder="no"
    allow="autoplay"
    src="{{ preview }}"
  ></iframe>
</div>
