form {
  margin: 5%;
  border: 1px solid $BorderClr;
  padding: 1%;
  margin-bottom: 5px;
  #form-1 {
    margin-left: 4%;
    width: 100%;
    .h3 {
      color: $container;
      margin-top: 3%;
      margin-bottom: 2%;
      font-size: 20px;
    }
    label {
      padding-bottom: 1%;
      margin-bottom: 5px;
    }
    #input {
      width: 90%;
      padding: 1.5%;
    }
  }
  #form-2 {
    margin-left: 4%;
    width: 100%;
  }
  .h3 {
    color: $container;
    margin-top: 3%;
    margin-bottom: 2%;
    font-size: 20px;
  }
  label {
    padding-bottom: 1%;
    margin-bottom: 5px;
  }
  #input {
    width: 90%;
    padding: 1.5%;
  }
  #submit-btn {
    color: $SecondHeadingClr;
    background-color: $container;
    padding: 1.5%;
    margin-top: 2%;
    width: 93%;
    &:hover {
      cursor: pointer;
    }
  }
}
