#form {
  width: 50%;
  margin: auto;
  border: 1px solid $BorderClr;
  padding: 1%;
  margin-bottom: 20%;
  #submit-btn {
    margin-top: 3%;
    width: 100%;
    background-color: $BorderClr;
    border: none;
  }
}

#form-1 {
  width: 95%;
  margin: 2%;
  #input {
    width: 100%;
  }
}

#form-2 {
  width: 95%;
  margin: 2%;
  #input {
    width: 100%;
  }
}
