@mixin form {
  margin: 5%;
  border: 1px solid $BorderClr;
  padding: 1%;
  .btn:hover {
    color: $Submit-Btn-Bg-Clr;
    background-color: $Submit-Btn-Clr;
  }
  .btn {
    color: $Submit-Btn-Clr;
    background-color: $Submit-Btn-Bg-Clr;
    margin-top: 2px;
    width: 100%;
  }
}

#form {
  @include form;
}

#contact-form {
  @include form;
}
