$HeadingClr: wheat;
$SecondHeadingClr: white;
$BackgroundClr: black;
$BorderClr: sienna;
$Footer-Clr: black;
$Footer-Bg-Clr: wheat;
$Hover-Clr: white;
$Submit-Btn-Clr: white;
$Submit-Btn-Bg-Clr: brown;
