$HeadingClr: #333;
$SecondHeadingClr: white;
$BackgroundClr: #fff;
$BorderClr: sienna;
$Footer-Clr: wheat;
$Footer-Bg-Clr: black;
$Hover-Clr: white;
$Submit-Btn-Clr: white;
$Submit-Btn-Bg-Clr: brown;
