$HeadingClr: #333;
$SecondHeadingClr: white;
$BackgroundClr: #eee;
$BorderClr: sienna;
$Footer-Clr: wheat;
$Footer-Bg-Clr: black;
$Hover-Clr: white;
$Submit-Btn-Clr: white;
$Submit-Btn-Bg-Clr: brown;
// Bootstrap colors
$success: #5cb85c;
$primary: #428bca;
$danger: #d9534f;
